.sticky-footer
	bottom: 0px
	width: 100%
	padding: 0px 0px 50px 0px

	h1, h2, h3, h4, h5, h6
		transform: scale(1, 1.1) /* W3C */
		-webkit-transform: scale(1, 1.1) /* Safari and Chrome */
		-moz-transform: scale(1, 1.1) /* Firefox */
		-ms-transform: scale(1, 1.1) /* IE 9 */
		-o-transform: scale(1, 1.1) /* Opera */

	button


	.list-link
		background: none !important
		display: block
		&:hover
			background: none !important
			text-decoration: underline