$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';


html, body, #main-view, .angular-leaflet-map {
  height: 100%;
  width: 100%;
}

body {
  padding-top: 50px;
}

.container {
  padding-top: 20px;
}

.leaflet-sidebar {
  z-index:1020;
}

.leaflet-control-panel{
  float:right;
  padding: 10px;
  margin-right: 15px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: block;
  color: black;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 4px;
  width: 250px;
  height: 200px;
  overflow-x: auto;
}

.leaflet-control-panel small{
  width: 200px;
  position: absolute;
  bottom: 5px;
}

.leaflet-inline{
  display:inline;
}

.thumb{
  max-height: 48px;
  max-width: 48px;
}

 .angular-leaflet-map {
 	overflow:hidden;
 }

 .minimap{
    border: 1px solid #555;
 }
 
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.nav, .pagination, .carousel, a { 
    cursor: pointer; 
}

.appear.ng-enter, 
.appear.ng-leave,
.appear.ng-move
{ 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    transition: 400ms cubic-bezier(0.250, 0.100, 0.250, 1.000) all;
    position: relative;
} 
 
.appear.ng-leave.ng-leave-active,
.appear.ng-enter,
.appear.ng-move
 {
    opacity: 0;
}
 
.appear.ng-enter.ng-enter-active,
.appear.ng-leave {
    opacity: 1;
}

.slide.ng-leave {
  position: relative;
}
.slide.ng-enter {
  position: absolute;
}
.slide.ng-enter, .slide.ng-leave {
  -webkit-transition: -webkit-transform 0.3s ease-in, opacity 0.3s ease-in;
     -moz-transition: -moz-transform 0.3s ease-in, opacity 0.3s ease-in;
       -o-transition: -o-transform 0.3s ease-in, opacity 0.3s ease-in;
          transition: transform 0.3s ease-in, opacity 0.3s ease-in;
}
.slide.ng-enter, .slide.ng-leave.ng-leave-active {
  -webkit-transform: scaleX(0.0001);
       -o-transform: scaleX(0.0001);
          transform: scaleX(0.0001);
  opacity: 0;
}
.slide, .slide.ng-enter.ng-enter-active {
  -webkit-transform: scaleX(1);
       -o-transform: scaleX(1);
          transform: scaleX(1);
  opacity: 1;
}
 
.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }

.browse-list{
  max-height:720px;
  overflow-y: scroll;
}