$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

html, body, #main-view {
  height: 100%;
  width: 100%;
}

.minimap {
  height: 120px;
  cursor: pointer;
  margin: 10px;
  border: 4px solid #AAA;
}

.minimap:hover{
  border: 4px solid #FA7;
}

.container {
  padding-top: 20px;
}

.leaflet-sidebar {
  z-index:1020;
}

.leaflet-control-panel{
  float:right;
  padding: 10px;
  margin-right: 15px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  display: block;
  color: black;
  box-shadow: 0 1px 5px rgba(0,0,0,0.65);
  border-radius: 4px;
  width: 250px;
  height: 200px;
  overflow-x: auto;
}

.leaflet-control-panel small{
  width: 200px;
  position: absolute;
  bottom: 5px;
}

.leaflet-inline{
  display:inline;
}

.thumb{
  max-height: 48px;
  max-width: 48px;
}

 .angular-leaflet-map {
 	overflow:hidden;
 }
 
.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.nav, .pagination, .carousel, a { 
    cursor: pointer; 
}

.browse-list{
  max-height:720px;
  overflow-y: scroll;
}

.btn-full {
  width: 100%;
}

/* ----------------------------------- MAP LAYOUT --------------------------- */

/* Sidebar */
#wrapper {
  bottom: 0;
  top: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  transition: all 0.4s ease 0s;
}

#wrapper.active #sidebar-wrapper {
  right: 0px;
  width:400px;
}

#sidebar-wrapper {
  right: -400px;
  width: 0px;
}

#sidebar-wrapper {
  position: relative;
  float:right;
  height: 100%;
  overflow-y: auto;
  transition: all 0.4s ease 0s;
  background: white;
  z-index: 1000;
}

#sidebar-wrapper #back{
  margin: 10px;
}

#sidebar-wrapper #content {
  padding: 0px 25px 40px 25px;
}
#sidebar-wrapper .header {
  position: absolute;
  padding: 10px;
  top: 0px;
  right: 0px;
}

#sidebar-wrapper .btn-close {
  border-radius: 100%;
}

#sidebar-wrapper .title {
  padding: 10px;
}

#sidebar-wrapper .footer {
  position: fixed;
  bottom: 0px;
  width: inherit;
}

.header * {
  display: inline;
}

#sidebar-wrapper ul {
  list-style-type: none;
}

/* Editor */

#editor-buttons {
  padding: 0px 40px 0px 40px;
  margin: 20px 10px 0px 10px;
}

#editor-buttons *{
  margin: 7px 0px 7px 0px;
}

#sidebar-wrapper #menu {
  max-height: 300px;
  overflow: auto;
}

#map-wrapper, #page-content-wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
}

#menu-toggle {
  display: none;
}

.inset {
  padding: 20px;
}

@media (max-width:767px) {

#wrapper {
  padding-left: 0;
}

#sidebar-wrapper {
  right: -100%;
}

#wrapper.active {
  display: block;
}

#wrapper.active #sidebar-wrapper {
  right: 0px;
  width: 100%;
  transition: all 0.4s ease 0s;
}

#menu-toggle {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
}

.inset {
  padding: 15px;
}

}

/* -------------------- ANIMATIONS ---------------------- */

/* ---------------------- HELPERS ----------------------- */


.voffset  { margin-top: 2px; }
.voffset1 { margin-top: 5px; }
.voffset2 { margin-top: 10px; }
.voffset3 { margin-top: 15px; }
.voffset4 { margin-top: 30px; }
.voffset5 { margin-top: 40px; }
.voffset6 { margin-top: 60px; }
.voffset7 { margin-top: 80px; }
.voffset8 { margin-top: 100px; }
.voffset9 { margin-top: 150px; }