$breakpoint: 970px

/* Sidebar and container */
#wrapper 
  bottom: 0
  top: 0
  overflow: hidden
  position: absolute
  width: 100%
  transition: all 0.4s ease 0s

  &.active #sidebar-wrapper 
    @media (min-width: $breakpoint)
      right: 0px
      width: 400px
    @media (max-width: $breakpoint) 
      right: 0px
      width: 100%


  &.active #sidebar-open
    @media (min-width: $breakpoint)
      right: -32px
      width: 0px
    @media (max-width: $breakpoint) 
      top: -32px
      right: -32px
      width: 0px
      height: 0px


#sidebar-wrapper
  position: relative
  float: right
  height: 100%
  overflow-y: auto
  background: white
  z-index: 1000
  height: 100%
  transition: all 0.4s ease 0s

  @media (min-width: $breakpoint) 
    right: -400px
    width: 0px
  @media (max-width: $breakpoint)
    right: -100%
    width: 0px

  .container
    width: 100%

  #sidebar
    padding: 15px

  #content
    padding: 0px 25px 0px 25px

#sidebar-open
  right: 0px
  height: 100%
  background: rgb(0,0,0)
  background: rgba(0,0,0,0.6)
  color: white
  position: absolute
  overflow: hidden
  transition: all 0.4s ease 0s
  z-index: 1200
  @media (max-width: $breakpoint) 
    height: auto

#map-wrapper, #page-content-wrapper 
  height: 100%
  position: relative
  overflow: hidden

#menu-toggle 
  display: none


.inset 
  padding: 20px

.close
  position: absolute
  right: 10px
  top: 10px

/** Map tooltip */
#map-tooltip
  position: absolute
  left: 0
  right: 0
  margin-left: auto
  margin-right: auto
  padding: 20px
  top: 20px
  z-index: 900

  width: 700px

  background: rgb(0,0,0)
  background: rgba(0,0,0,0.7)
  
  border-radius: 20px
  p
    margin: 0px
    color: rgb(255,255,255)

/** Editor buttons */
#editor-buttons
  position: absolute
  margin: auto
  bottom: 10px
  z-index: 900
  @media (min-width: $breakpoint) 
    width: 500px
  @media (max-width: $breakpoint)
    width: 100%
  a, button
    width: 100%


/** Sidebar and elements inside the sidebar */

/* Navigation */

header
  h2
    margin-top: 0px

nav#sidebar-nav
  padding: 10px
  a, button
    width: 100%

/* Default buttons */
.action-buttons
  padding: 20px 
  button
    border: none

/* Editor */


/* Explorer */

#toggle-legend
  background: none
  font-size: 20px
  margin-right: 10%
  margin-left: 10%
  width: 80%
  &:hover
    background: #DDD

#map-legend
  > section
    margin-top: 20px
    padding: 0px 20px 0px 20px
    header
      margin-bottom: 20px
  #poi-legend section
    margin-bottom: 15px

#explore-list
  list-style: none
  padding: 0px
  li
    border-bottom: 1px solid #BABABA
    a
      padding: 10px
      display: block
      text-decoration: none

#explore-list, #map-legend
  .fa.fa-lg
    line-height: 1




@media (max-width: 992px) 

  #wrapper 
    padding-left: 0


  #wrapper.active 
    display: block


  #menu-toggle 
    display: block
    position: absolute
    top: 0
    left: 0
    z-index: 1000


  .inset 
    padding: 15px

  #map-tooltip
    width: 60%

