.data-list
  padding: 0px
  margin: 0px
  list-style: none


p.desc
  white-space: pre
  padding: 10px

.data-block
  display: block
  border: 1px solid #CCC
  margin: 0px
  padding: 10px
  &.no-top
    border-top: 0px
  &.no-right
    border-right: 0px
  &.no-left
    border-left: 0px
  &.no-bottom
    border-bottom: 0px
  &.only-top
    border-left: 0px
    border-right: 0px
    border-bottom: 0px
  &.only-right
    border-left: 0px
    border-top: 0px
    border-bottom: 0px
  &.only-left
    border-right: 0px
    border-top: 0px
    border-bottom: 0px
  &.only-bottom
    border-top: 0px
    border-left: 0px
    border-right: 0px

.data-container
  padding: 0px

#view
  margin-top: 75px

  .row section
    height: 100%
  .fa.fa-lg
    margin-right: 15px


  aside
    padding: 10px 0px 0px 10px

    section
      margin-bottom: 10px
      &:not(:last-child)
        border-bottom: 1px solid #BFBFBF
      ul
        margin-top: 20px
        padding: 0px
        li
          list-style: none
      figure
        width: 100px
        height: 100px
        display: inline-block
        float: left
        border: 1px solid black
        margin-left: 5px
      img
        max-width: 100%
        max-height: 100%
        display: block
        margin: auto
  form
    box-sizing: border-box

  #comments
    margin-top: 30px
    ul
      margin-top: 10px
      li
        list-style: none
        padding: 10px
    .media-object
      height: 32px
      width: 32px

#user
  .nav.nav-pills li
    padding: 10px
