.data-list
  padding: 0px
  margin: 0px
  list-style: none
  &.data-clickable
    li
      cursor: pointer
      &:hover
        background: #eee
      a
        display: block
        width: 100%
        color: rgb(70, 70, 70)

p.desc
  white-space: pre
  padding: 10px

.data-block
  display: block
  border: 1px solid #CCC
  margin: 0px
  padding: 10px
  &.no-top
    border-top: 0px
  &.no-right
    border-right: 0px
  &.no-left
    border-left: 0px
  &.no-bottom
    border-bottom: 0px
  &.only-top
    border-left: 0px
    border-right: 0px
    border-bottom: 0px
  &.only-right
    border-left: 0px
    border-top: 0px
    border-bottom: 0px
  &.only-left
    border-right: 0px
    border-top: 0px
    border-bottom: 0px
  &.only-bottom
    border-top: 0px
    border-left: 0px
    border-right: 0px
  &.no-border
    border: 0px
  &.no-vertical
    border-top: 0px
    border-bottom: 0px
  &.no-horizontal
    border-left: 0px
    border-right: 0px

.data-container
  padding: 0px

.nav-pills li a
  color: rgb(79, 79, 79)

.nav-pills li.active
  a, a:hover
    background: #2ecc71
    .badge
      color: #2ecc71

#view
  margin-top: 75px
  margin-bottom: 50px

  button
    margin: 0px
    border-radius: 0

  .row section
    height: 100%
  .fa.fa-lg
    margin-right: 15px

  #reviews
    margin-top: 30px
    .media-object
      height: 32px
      width: 32px

#developers
  margin-top: 75px
