<div ng-include src="'partials/map/header.html'"></div>

<div id="editor-buttons" class="amethyst">
	<button class="btn" title="Add new track" ng-click="addLayer()">
		<i class="icon fa fa-plus"></i> 
	</button>
	<button class="btn" title="Edit existing tracks" ng-click="loadLayer()">
		<i class="icon fa fa-edit"></i> 
	</button>
	<button ng-disabled="!SharedMap.layer" class="btn" title="Save changes tracks" ng-click="saveLayer()">
		<i class="icon fa fa-save"></i> 
	</button>
	<button ng-disabled="!SharedMap.layer" class="btn" title="Clear tracks" ng-click="clearLayers()">
		 <i class="icon fa fa-trash-o"></i>
	</button>
	<button class="btn" title="Information" ng-click="openInfo()">
		 <i class="icon fa fa-question"></i>
	</button>
</div>


<div ng-show="SharedMap.layerData" id="content" class="voffset3">
	<h2 class="text-center"> {{ SharedMap.layerData.name }} </h2>
	<p> {{ SharedMap.layerData.content }} </p>
	<p><a><span class="icon fa fa-user"></span> {{ SharedMap.layerData.author }}</a></p>
	<button type="button" class="btn dark pull-right" ng-click="edit()">
		Edit
	</button>

</div>
