
<div id="editor-buttons" class="green">
	<button class="btn" title="Add new track" ng-click="addLayer()">
		<i class="icon fa fa-plus"></i> 
	</button>
	<button class="btn" title="Edit existing tracks" ng-click="loadLayer()">
		<i class="icon fa fa-edit"></i> 
	</button>
	<button ng-disabled="!editing" class="btn" title="Save changes tracks">
		<i class="icon fa fa-save"></i> 
	</button>
	<button ng-disabled="!editing" class="btn" title="Clear tracks" ng-click="clearLayers()">
		 <i class="icon fa fa-trash-o"></i>
	</button>
	<button class="btn" title="Information" ng-click="openInfo()">
		 <i class="icon fa fa-question"></i>
	</button>
</div>


<div ng-show="SharedMap.layerData" class="voffset3">
	<hr>
	<h2 class="text-center">
		<button type="button" class="btn btn-warning btn-sm pull-left" ng-click="edit()">
			<span class="icon fa fa-edit"></span>
		</button>
		{{ SharedMap.layerData.name }} 
	</h2>
	<p> {{ SharedMap.layerData.content }} </p>
	<p><a><span class="icon fa fa-user"></span> {{ SharedMap.layerData.author }}</a></p>
</div>

<hr>
<div class="panel panel-default">
	<div class="panel-heading">
		<strong><span class="icon fa fa-info-circle"></span> Editing instructions </strong>
	</div>
	<ul class="list-group">
		<li class="list-group-item">
			Add a new track from a GPX file with <span class="icon fa fa-plus">
		</li>
		<li class="list-group-item">
			Modify a existing track with <span class="icon fa fa-edit"> 
		</li>
		<li class="list-group-item">You can edit a new track before saving it </li>
		<li class="list-group-item">To edit a track drag the points on the map </li>
		<li class="list-group-item">Once edited, click <span class="icon fa fa-save"></span> to save </li>
		<li class="list-group-item">Clear current track with <span class="icon fa fa-trash-o"></span></li>
	</ul>
</div>