<div id="menu">	
	<ul class="nav nav-tabs">
    <li ng-repeat="item in menu" ng-class="{active: isActive(item)}">
        <a ng-click="load($index)"> <i class="icon fa fa-{{item.icon}}"></i> {{item.title}}</a>
    </li>
	</ul>
	<ul class="list-group">
    <a href ng-repeat="item in list" class="list-group-item" ng-click="loadResource(item.id)">
      {{item.name}}
  	</a>
	</ul>
</div>

<hr>
<div ng-show="SharedMap.layerData" class="voffset3 panel panel-primary">
	<div class="panel-heading"> {{ SharedMap.layerData.name }}</div>
	<div class="panel-body">

		<p> {{ SharedMap.layerData.content }} </p>

		<div class="panel panel-default">
			<div class="panel-heading"> 
				Nearby points of interest 
			</div>
			
			<ul class="list-group" ng-show="SharedMap.overlaysData">	
				<li ng-repeat="item in SharedMap.overlaysData" class="list-group-item" ng-click="loadResource(item.id)">
    			{{ item.name }}
				</li>
			</ul>

			<div ng-hide="SharedMap.overlaysData">
				<span class="fa fa-spinner fa-spin"></span>
			</div>
			
		</div>

	</div>
	<div class="panel-footer">
		<a><span class="icon fa fa-user"></span> {{ SharedMap.layerData.author }}</a>
	</div>	
</div>