<div ng-include src="'partials/map/header.html'"></div>

<div ng-hide="showing">

<div id="navigation" class="darker">
  <button type="button" class="btn" ng-click="prev()"> 
    <span class="fa fa-home fa-chevron-left"></span> 
  </button>
  <h4> {{ tabs[tab] }} </h4>
  <button type="button" class="btn pull-right" ng-click="next()"> 
    <span class="fa fa-home fa-chevron-right"></span> 
  </button>
</div>

<div class="searchbox">
	<div class="input-group">
    <input type="text" class="form-control">
    <span class="input-group-btn">
      <button class="btn darker" type="button">Search</button>
    </span>
  </div><!-- /input-group -->
</div>
<ul class="select-list darker-text">
	<li ng-repeat="element in list" ng-click="show(element.id)">
		{{ element.name }} 
	</li>
</ul>
</div>

<!-- Resource data -->

<div ng-show="showing">

</div>