<div id="wrapper" ng-class="{active: sidebar}">
  
  <button id="sidebar-open" class="darker btn" ng-click="openSidebar()">
    <span class="icon fa fa-bars fa-2x"></span>
  </button>


  <!-- Sidebar -->
  <div id="sidebar-wrapper">

  <!-- Header: title and close button -->
  	<div id="sidebar" ui-view>
      
    </div>
  	<!-- Footer, for possible changing -->
		<div class="footer darker">
				<a class="btn" role="button" ui-sref="map.explore">
					<span class="icon fa fa-search"></span>
				</a>		
				<a class="btn" role="button" ui-sref="map.editor">
					<span class="icon fa fa-tags"></span>
				</a>	
				<a class="btn" role="button" ui-sref="map.editor">
					<span class="icon fa fa-edit"></span>
				</a>
				<a class="btn" role="button" ui-sref="map.settings">
					<span class="icon fa fa-gear"></span>
				</a>			
		</div>
  </div>

  <!-- Map -->
  <div id="map-wrapper"></div>
</div>