<main class="container page-content" id="view">

<h2 class="text-center">{{feature.properties.name}}</h2>
<leaflet width="100%" height="300px" geojson="geojson" id="viewMap"></leaflet>
<div class="row voffset3">
<section id="description" class="col-md-8 col-sm-12 col-xs-12">
  <h4> Description </h4>
  <p>{{feature.properties.content}}</p>
</section>
<section class="col-md-3 col-sm-12 col-xs-12">
	<section id="data">
    <p ng-if="feature.properties.date!==undefined">
      <strong>Date: </strong> {{feature.properties.date}}
    </p>
  	<p ng-if="feature.properties.distance!==undefined">
      <strong>Distance: </strong> {{feature.properties.distance}} <em>m</em>
    </p>
  	<p ng-if="feature.properties.difficulty!==undefined">
      <strong>Difficulty: </strong> {{feature.properties.difficulty}}
    </p>
    <p ng-if="feature.properties.isCircular">
      <strong>Circular: </strong> yes
    </p>
    <p ng-if="feature.properties.altitude!==undefined">
      <strong>Altitude: </strong> {{feature.properties.altitude}} <em>m</em>
    </p>
    <p ng-if="feature.properties.maxAltitude!==undefined">
      <strong>Maximum altitude: </strong> {{Math.round(feature.properties.maxAltitude)}} <em>m</em>
    </p>
    <p ng-if="feature.properties.minAltitude!==undefined">
      <strong>Minimum altitude: </strong> {{Math.round(feature.properties.minAltitude)}} <em>m</em>
    </p>
    <p ng-if="feature.properties.totalAscendingSlope!==undefined">
      <strong>Ascending distance: </strong> {{Math.round(feature.properties.totalAscendingSlope)}} <em>m</em>
    </p>
    <p ng-if="feature.properties.totalDescendingSlope!==undefined">
      <strong>Descending distance: </strong> {{Math.round(feature.properties.totalDescendingSlope)}} <em>m</em>
    </p>
  </section>
  <section id="media">
    <div ng-controller="SliderCtrl" ng-init="init(resource)" class="slider">
      <figure ng-repeat="slide in slides" ng-hide="!isCurrentSlide($index)" class="slide">
        <img ng-src="{{slide.source}}" />
      </figure>
      <button class="arrow prev" ng-click="prevSlide()"></button>
      <button class="arrow next" ng-click="nextSlide()"></button>
      <nav>
        <ul>
          <li ng-repeat="slide in slides" ng-click="setSlide($index)"></li>
        </ul>
      </nav>
    </div>
  </section>
</section>
</div>

<hr />
<section id="comments">
  <form ng-submit="post()">
    <textarea class="form-control" rows="4" ng-model="comment"></textarea>
    <button class="btn btn-default btn-block blue"> Post! </button>
  </form>
  <ul>
    <li ng-repeat="post in posts">
      <article class="media">
        <a class="pull-left" ui-sref="web.user({id: post.authorId})">
          <img class="media-object" ng-src="{{post.avatar}}" alt="User avatar">
        </a>
        <div class="media-body">
          <h5 class="media-heading">{{post.author}}</h5>
          <p>{{post.content}}</p>
        </div>
      </article>
    </li>
  </ul>
</section>

</main>

<!-- Section for photos -->
