<div ng-include src="'partials/navbar.html'"></div>

<main id="homepage">

  <article class="section">
    <img class="background" src="/images/background/promo.jpg" />
    <a class="link-next" ng-click="goToMap()"><i class="fa fa-chevron-circle-down fa-4x"></i></a>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <h3>Trails and POIs around the world</h3>
          <p> A place for discovering and sharing trails and points of interest around the world.
              Share your trail and find out what is nearby.
          </p>
          <p>
            A growing community of <strong class="blue-text">{{info.users||0}}</strong> users sharing <strong class="blue-text">{{info.features||0}}</strong> features. Here you will find as many as <strong class="blue-text">{{info.tracks||0}}</strong> tracks and
            <strong class="blue-text">{{info.pois||0}} </strong> points of interest. You can also find <strong class="blue-text">{{info.images||0}} </strong> images and <strong class="blue-text">{{info.videos||0}} </strong> videos.
          </p>
        </div>
        <div class="col-md-6 col-sm-12 promo-form" ng-controller="SignupCtrl">
          <div class="form-inner">
            <div class="form-header">
              <h3 class="text-center"> Create an account free </h3>
              <p class="text-center"> Start sharing your trails </h3>
            </div>
            <form class="form-body">
              <input type="text" name="name" placeholder="Name" ng-model="user.name" />
              <input type="email"  name="email" placeholder="Email" ng-model="user.email" />
              <input type="password"  name="password" placeholder="Password" ng-model="user.password" />
            </form>
            <div class="form-footer">
              <button type="button" class="btn green"> Sign up! </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="section" id="map">
    <carousel id="carousel" interval="-1" set-ng-animate="false">
      <slide ng-repeat="slide in slides" active="slide.active">
        <leaflet height="100%"
          id="slideMap{{$index}}"
          layers="slide.layers"
          defaults="defaults"
          class="map-image">
        </leaflet>
        <div class="carousel-caption">
          <h4>{{slide.name}}</h4>
          <p style="color:white">
            {{slide.type}} added by
            <a ui-sref="web.user({id: slide.author.id})">{{slide.author.name}}</a>
          </p>
        </div>
      </slide>
    </carousel>
  </article>


<div ng-include src="'partials/helpers/footer.html'"></div>
</main>
