<carousel id="carousel" interval="-1" set-ng-animate="false" class="fading">
  <slide ng-repeat="slide in slides" active="slide.active">
    <leaflet height="300px" 
    id="slideMap{{$index}}"
    layers="slide.layers"
    defaults="defaults"
    class="map-image">
  </leaflet>            
  <div class="carousel-caption">
    <h4>{{slide.name}}</h4>
    <p style="color:white">
      {{slide.type}} added by 
      <a ui-sref="web.user({id: slide.author.id})">{{slide.author.name}}</a>
    </p>
  </div>
</slide>
</carousel>

<main class="container" id="homepage">
  <article>
    <section id="presentation">
      <h1 class="text-center blue-text"> SORELCOM </h1>
      <p class="text-center text-big"> 
        We are a growing community of <strong class="blue-text">{{info.users||'????'}}</strong> users sharing <strong class="blue-text">{{info.features||'????'}}</strong> features. Here you will find as many as <strong class="blue-text">{{info.tracks||'????'}}</strong> tracks and 
        <strong class="blue-text">{{info.pois||'????'}} </strong> points of interest. You can also find <strong class="blue-text">{{info.images||'????'}} </strong> images and <strong class="blue-text">{{info.videos||'????'}} </strong> videos.  
      </p>
      <p><a class="blue-text" ui-sref="web.signup"> Join us now! </a></p>
    </section>

    <section class="row" id="apps">
      <section class="col-md-6 col-sm-12 col-xs-12">
        <a href="https://play.google.com/store" class="promo">
          <img src="/images/icons/android.png" />
          <p class="info"> Check out the mobile app </p>
        </a>
      </section>
      <section class="col-md-6 col-sm-12 col-xs-12">
        <a ui-sref="map.explore" class="promo">
          <img src="/images/icons/world-map.png" />
          <p class="info"> View our map </p>
        </a>        
      </section>
    </section>

    <section class="row">
      <section class="col-md-6 col-sm-12 col-xs-12">
        <a class="promo" ng-click="upload()">
          <img src="/images/icons/polyline.png" />
          <p class="info"> Share your routes. </p>
        </a>
      </section>
      <section  class="col-md-6 col-sm-12 col-xs-12">
        <a class="promo">
          <img src="/images/icons/post-it.png" />
          <p class="info"> Learn about geo post-its </p>
        </a>        
      </section>
    </section>
  </article>
</main>