<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span ng-repeat="item in menu" class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Sorelcom</a>
  </div>
  <div class="navbar-collapse collapse">  
    <ul class="nav navbar-nav pull-left">
      <li ng-repeat="item in menu" ng-class="{active: state.includes(item.state)}">
        <a ui-sref="{{item.state}}">{{item.title}}</a>
      </li>
     </ul>
     <ul class="nav navbar-nav pull-right">
      <li ng-hide="currentUser" ng-class="{active: isActive('/login')}">
        <a ng-click="login()">Login</a>
      </li>
      <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}">
        <a ui-sref="signup">Sign up</a>
      </li>
      <li ng-show="currentUser" ng-class="{active: isActive('/logout')}">
        <a ng-click="logout()">Logout</a>
      </li>
      <li ng-show="currentUser" ng-class="{active: isActive('/profile')}">
        <a ui-sref="profile">Profile</a>
      </li>
    </ul>
  </div>
</div>
