<div class="container page-content">
  
  <div class="row">
    <div class="col-md-3">
      <img ng-src="/images/{{user.avatar}}" class="img-thumbnail avatar center-block"/>
      <h3 class="text-center">
        <strong>{{user.name}}</strong>
      </h3>
    </div>
    <!-- Right side -->
    <div class="col-md-9">
      <!-- Filters -->
      <ul class="nav nav-pills darker-text">
        <li ng-repeat="filter in filters" ng-class="{active:filter===currentFilter}">
          <a  ng-click="setFilter(filter)">
            {{ filter.name }} <span class="badge"> {{filter.data.length}} </span>
          </a>
        </li>
      </ul>
      <ul class="list-group voffset3">
        <li class="list-group-item" ng-repeat="item in currentFilter.data">
          <p>{{item.name}}</p>
        </li>
      </ul>
      <!-- Data -->
    </div>  
  </div>

</div>
