<div class="container page-content" id="profile">

  <div class="panel darker-text panel-default">
    <div class="panel-heading darker">
      Personal Information
    </div>
    <div class="panel-body">
      <p><strong><span class="fa fa-user"></span> Account name: </strong> {{user.name}}</p>
      <p><strong><span class="fa fa-envelope"></span> e-mail: </strong> {{user.email}}</p>
      <div class="form-group">
        <img ng-src="{{user.avatar}}" class="img-thumbnail avatar"/>
        <button class="btn green voffset2"> Change avatar </button>
      </div>
      <form class="form" name="form" ng-submit="saveChanges(form)">
        <div class="form-group form-actions">
          <label>Given name: </label>
          <input class="form-control" name="givenName" type="text" ng-model="user.givenName">
        </div>
        <div class="form-group">
          <label>Family name: </label>
          <input class="form-control" name="familyName" type="text" ng-model="user.familyName">
        </div>
        <div class="form-group">
          <label>Web page/Weblog: </label>
          <input class="form-control" name="weblog" type="text" ng-model="user.weblog">
        </div>
        <div class="form-group">
          <label>About you: </label>
          <textarea class="form-control" name="about" ng-model="user.about" rows="5"></textarea>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn blue"> Save changes </button>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default col-md-6 col-sm-12 col-xs-12">
      <div class="panel-heading darker">
        Trails
      </div>
      <div class="panel-body">
        <ul class="list-group darker-text">
          <li class="list-group-item" ng-repeat="trail in trails">
            <a ui-sref="web.user({id: trail.name})">{{trail.name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default col-md-6 col-sm-12 col-xs-12">
      <div class="panel-heading darker">
        Points of Interest
      </div>
      <div class="panel-body">
        <ul class="list-group darker-text">
          <li class="list-group-item" ng-repeat="poi in pois">
            <a ui-sref="web.poi({id: poi.name})">{{poi.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="panel panel-default col-md-6 col-sm-12 col-xs-12">
      <div class="panel-heading darker">
        Buddies
      </div>
      <div class="panel-body">
        <ul class="list-group darker-text">
          <li class="list-group-item" ng-repeat="buddy in buddies">
            <a ui-sref="web.user({id: buddy.name})">{{buddy.name}}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default col-md-6 col-sm-12 col-xs-12">
      <div class="panel-heading darker">
        Followers
      </div>
      <div class="panel-body">
        <ul class="list-group darker-text">
          <li class="list-group-item" ng-repeat="follower in followers">
            <a ui-sref="web.user({id: follower.name})">{{follower.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

</div>
