<div class="container page-content" id="searchpage">

  <form class="input-group" ng-submit="search()">
    <input type="text" name="query" class="form-control" ng-model="query">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button" ng-click="search()"><span class="fa fa-search"></span></button>
    </span>
  </form>

  <main>
    <ul>
      <li ng-repeat="item in searchResults" class="row">
        <!-- Track -->
        <a ui-sref="{{makeRef(item)}}" class="col-sm-12 col-xs-12">
          <article>
            <div class="icon col-md-2 col-sm-2 col-xs-2">
              <img ng-src="{{makeIconUrl(item)}}" alt="icon">
            </div>
            <div class="info col-md-9 col-sm-10 col-xs-10">
              <h5>{{item.name}}</h5>
              <div class="details">
                <p ng-if="item.content">{{item.content | limitTo: 40 }}...</p>
                <p ng-if="item.comments"><span class="fa fa-comment"> {{item.comments || 0}} </span>
                <p ng-if="item.author"><span class="fa fa-user">&nbsp;</span> {{item.author}} </p>
              </div>
            </div>
          </article>
        </a>
      </li>
    </ul>
  </main>
</div>
