<main class="container page-content" id="view">

<h2 class="text-center">{{track.properties.name}}</h2>
<leaflet width="100%" height="300px" geojson="geojson" id="viewMap"></leaflet>
<div class="row voffset3">
<section id="description" class="col-md-8 col-sm-12 col-xs-12">
  <h4> Description </h4>
  <p>{{track.properties.content}}</p>
</section>
<section class="col-md-3 col-sm-12 col-xs-12">
	<section id="data">
  <p><strong>Date: </strong> {{track.properties.date}} </p>
	<p><strong>Distance: </strong> {{track.properties.distance}} </p>
	<p><strong>Level: </strong> {{track.properties.level}} </p>
  </section>
  <section id="media">
    <h5> Images on this track </h5>
    <figure ng-repeat="image in images">
      <img src="{{image.source}}" alt="photo related to the track" />
    </figure>
  </section>
</section>
</div>

<hr />
<section id="comments">
  <form ng-submit="post()">
    <textarea class="form-control" rows="4" ng-model="comment"></textarea>
    <button class="btn btn-default btn-block blue"> Post! </button>
  </form>
  <ul>
    <li ng-repeat="post in posts">
      <article class="media">
        <a class="pull-left" ui-sref="web.user({id: post.authorId})">
          <img class="media-object" ng-src="{{post.avatar}}" alt="User avatar">
        </a>
        <div class="media-body">
          <h5 class="media-heading">{{post.author}}</h5>
          <p>{{post.content}}</p>
        </div>
      </article>
    </li>
  </ul>
</section>

</main>

<!-- Section for photos -->

