<div  class="container">
  <div class="jumbotron">
    <h1 class="text-center">Upload routes</h1>
    <div class="row">
      <p>You can upload files, in GPX, KML or even GeoJson format. Add as many as you want. You can also create routes and points of interest in the editor.</p>
      <p class="text-warning"><i class="fa fa-info-circle"></i> You can add as many tracks as you want with the add file, and then submit them.</p>
      <div class="col-md-2">
        <button type="button" class="btn btn-lg btn-success" role="button" ng-click="upload()">Submit</a>        
      </div>
      <div class="col-md-6">
        <input type="file" title="Add file" class="btn-lg btn-primary" text-reader="read($text, $format)" />
      </div>
      <div class="col-md-2 col-md-offset-2">
        <a class="btn btn-lg btn-warning" role="button" ui-sref="editor">Open editor</a>
      </div>
    </div>
  </div>
</div>



<div class="container">
  <form>
    <div class="list-group">
      <div ng-repeat="track in tracks" class="panel appear" ng-class="{'panel-success':!track.$error, 'panel-danger':track.$error}">
        <div class="panel-heading">
        <button type="button" class="close" ng-click="remove(track)">&times;</button>
        <h3 ng-show="track.$error" class="panel-title"> <i class="fa fa-warning"></i> {{ track.$error }} </h3>
        <h3 ng-show="!track.$error" class="panel-title"> <i class="fa fa-check"></i> {{ track.data.properties.name }} </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-8">
              <div class="form-group">
                <label> Name </label>
                <input type="text" class="form-control" ng-model="track.data.properties.name" placeholder="Track name" />
              </div>
              <div class="from-group">
                <label> Description </label>
                <textarea class="form-control" rows="4" ng-model="track.data.properties.description"/>
              </div>
            </div>
            <div class="col-md-4">
              <leaflet class="minimap" width="100%" height="200px" geojson="track" maxbounds="track.bbox"></leaflet>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

