<div class="container page-content" id="user">

 <div class="row">
   <div class="col-md-3">
     <img ng-src="{{user.avatar}}" class="img-thumbnail avatar center-block"/>
     <h3 class="text-center">
       <strong>{{user.name}}</strong>
     </h3>
     <p class="text-center"><span class="fa fa-envelope"></span>{{user.email}}</p>
     <button ng-hide="isMe() || imFollower" class="btn blue btn-block" ng-click="follow()">Follow</button>
     <button ng-show="!isMe() && imFollower" class="btn red btn-block" ng-click="unfollow()">Stop Following</button>
     <button ng-hide="isMe() || imBuddy" class="btn green btn-block" ng-click="addBuddy()">Add buddy</button>
     <button ng-show="!isMe() && imBuddy" class="btn red btn-block" ng-click="removeBuddy()">Remove buddy</button>
   </div>
   <!-- Right side -->
   <div class="col-md-9">
     <!-- Filters -->
     <ul class="nav nav-pills darker-text">
       <li ng-class="{active:showing==='trails'}"
         <a ng-click="show('trails')">
           Trails <span class="badge">{{trails.length}}</span>
         </a>
       </li>
       <li ng-class="{active:showing==='pois'}"
         <a ng-click="show('pois')">
           Points Of Interest <span class="badge">{{pois.length}}</span>
         </a>
       </li>
       <li ng-class="{active:showing==='buddies'}"
         <a ng-click="show('buddies')">
           Trail Buddies <span class="badge">{{buddies.length}}</span>
         </a>
       </li>
       <li ng-class="{active:showing==='followers'}"
         <a ng-click="show('followers')">
           Followers <span class="badge">{{followers.length}}</span>
         </a>
       </li>
     </ul>
     <ul class="list-group voffset3 darker-text" ng-show="showing==='trails'">
       <li class="list-group-item" ng-repeat="trail in trails">
         <a ui-sref="web.trail({id: trail.name})">{{trail.name}}</a>
       </li>
     </ul>
     <ul class="list-group voffset3 darker-text" ng-show="showing==='pois'">
       <li class="list-group-item" ng-repeat="poi in pois">
         <a ui-sref="web.poi({id: poi.id})">{{poi.name}}</a>
       </li>
     </ul>
     <ul class="list-group voffset3 darker-text" ng-show="showing==='buddies'">
       <li class="list-group-item" ng-repeat="buddy in buddies">
         <a ui-sref="web.user({id: buddy.name})">{{buddy.name}}</a>
       </li>
     </ul>
     <ul class="list-group voffset3 darker-text" ng-show="showing==='followers'">
       <li class="list-group-item" ng-repeat="follower in followers">
         <a ui-sref="web.user({id: follower.name})">{{follower.name}}</a>
       </li>
     </ul>

   </div>
 </div>

</div>
