<div class="col-md-3">
	<ul class="list-group browse-list">
        <a href ng-repeat="user in users" 
        	ui-sref-active="active" 
        	class="list-group-item" 
        	ui-sref="browse.users.detail({id: user.id})">
			<div class="media">
    			<img class="pull-left thumb media-object img-responsive" ng-src="/images/{{user.avatar}}" alt="No image available">
  				<div class="media-body">
   					<h4 class="media-heading text-center">{{user.name}}</h4>
   					<ul class="list-inline">
   						<li><i class="icon fa fa-road"></i> {{user.tracks}}</li>
   						<li><i class="icon fa fa-map-marker"></i> {{user.pois}}</li>
   						<li><i class="icon fa fa-tags"></i> {{user.geoPostIts }}</li>
   						<li><i class="icon fa fa-file-text"></i> {{user.posts}}</li>
   					</ul>
  				</div>
			</div>        
		</a>
	</ul>
</div>

<div ui-view class="col-md-8 slide">
