<div class="navbar navbar-fixed-top" role="navigation" ng-controller="NavbarCtrl">
  <div class="container">

    <!--
    <div class="brand">
     <img class="logo" src="/images/icon/logo/sorelcom.png" />
    </div>
  -->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span ng-repeat="item in menu" class="icon-bar"></span>
      </button>
    </div>

    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-left">
        <li ng-class="{active: state.includes('home')}">
          <a ui-sref="home"><i class="fa fa-home fa-lg"></i> HOME </a>
        </li>
        <li ng-class="{active: state.includes('home')}">
          <a ui-sref="map.explore"><i class="fa fa-globe fa-lg"></i> WORLD MAP </a>
        </li>
        <li ng-class="{active: state.includes('map')}">
          <a ui-sref="search"><i class="fa fa-search fa-lg"></i> BROWSE </a>
        </li>
        <li ng-class="{active: state.includes('map')}">
          <a ui-sref="developers"><i class="fa fa-cog fa-lg"></i> DEVELOPER AREA </a>
        </li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li ng-hide="currentUser" ng-class="{active: isActive('/login')}">
          <a ng-click="login()">SIGN IN</a>
        </li>
        <li ng-hide="currentUser" ng-class="{active: isActive('/signup')}">
          <a ui-sref="signup">SIGN UP</a>
        </li>
        <li ng-show="currentUser" ng-class="{active: isActive('/logout')}">
          <a ng-click="logout()">SIGN OUT</a>
        </li>
        <li ng-show="currentUser" ng-class="{active: isActive('/profile')}">
          <a ui-sref="profile">MY PROFILE</a>
        </li>
      </ul>
    </div>
  </div>
</div>
