<div class="modal-header">
    <h3>Load tracks</h3>
</div>
<div class="modal-body">
    <div class="form-group">
    	<input type="file" class="btn-lg btn-primary" text-reader="load($text, $format)" />
    </div>
    <div class="container-fluid">
    	<p ng-show="geojson && !selected"> There is more than one track in your file, select one to import. </p>
    	<div class="row">
    		<div ng-repeat="feature in geojson">
    			<div 	 
    				on-finish-render="makeMap(element, index)"
    				class="minimap"
    				ng-click="select(feature)"
    				index="{{$index}}">
    			</div>
    		</div>
    	</div>
    </div>
    <div class="form-group" ng-show="selected">
        <label for="name"> Name </label>
        <input type="text" id="name" name="name" class="form-control" ng-model="selected.properties.name" />
    </div>
    <div class="form-group" ng-show="selected">
        <label for="content"> Description </label>
        <textarea rows="5" id="content" name="content" class="form-control" ng-model="selected.properties.content" />
    </div>
</div>
<div class="modal-footer">
    <p class="pull-right">
        <button type="button" ng-click="save()" class="btn green" ng-disabled="!selected"> 
            Save 
        </button>
    </p>
</div>