        <div class="modal-header">
            <h3>Log in</h3>
        </div>
        <div class="modal-body">
            <p class="alert alert-danger" ng-class="{hidden:error.hidden}">{{ error.text }}<p>
            <form action="" method="post" enctype="multipart/form-data" name="loginForm">
                <div class="form-group">
                    <input class="form-control input-lg" type="text" ng-model="credentials.name">
                </div>
                <div class="form-group">
                    <input class="form-control input-lg" type="password" ng-model="credentials.pass">
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="login()">Log in</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>